<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Project Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", @home_path %></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if @logged_in %>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% else %>
        <li><a href="/managers/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>
