/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

//  * {
//    border: 1px solid black;
//  }
img {
  margin-top: 40px;
  width: 100%;

}
 .jumbotron {
  padding-top: 108px;
  padding-bottom: 140px;
} 

.jumbotron h3 {
  color: #337ab7;
}

.sidenav {
  margin-top: 20px;
}

 .navbar {
    margin-bottom: 0px;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: 10px 76px;
  }

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: #258dee00;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #000000cc;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
  margin: auto;
  width: 50%;
}

  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  .emp_container {
    background-color: #f1f1f1;
    height: auto;
    padding-bottom: 350px;
  }

  .form_cont{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
  .form_cont .btn {
    padding: 5px 60px;
    margin-top: 30px;
    width: 100%;
  }

  .collection_label label {
    margin: 10px;
  }
  

  .emp_form {
    background-color: f1f1f1;
    padding-bottom: 50px;
    margin-top: 100px;
    padding-top: 40px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 2px;
    border-radius: 7px;
  }

// Inbox styling

#employee_message_title {
  margin-bottom: 10px;
}

#message form {
  margin-top: 10px;
}

.emp-inbox li {
  margin-bottom: 10px;
} 

.inbox > a {
  background-color: #33b751;
}

.nav-pills > li.inbox > a, .nav-pills > li.inbox > a:hover, .nav-pills > li.inbox > a:focus {
  color: #fff;
  background-color: #33b751;
}

#message > form > input[type=submit]:nth-child(14) {
  background-color: black;
  color: #fff;
  width: 100%;
}

#message > form > input[type=submit]:nth-child(14):hover {
  background-color: #fff;
  color: black;
  width: 100%;
}

body > div.container-fluid > div > div.col-sm-3.sidenav.hidden-xs.well.emp-inbox {
  height: 500px;
}

body > div.container-fluid > div > div.col-sm-3.sidenav.hidden-xs.well.emp-inbox > ul > ul > li > span {
  background-color: #337ab7;
}

#employee_message_title {
  width: 100%;
}
#employee_message_content {
  width: 100%;
}

// #message > form > input[type=submit]:nth-child(14)


  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;}
  }
